.user-list {
  position: fixed;
  top: 15px;
  left: 15px;
  height: 95%;
  width: 350px;
  z-index: 200;
  background: #fff;
  border-radius: 6px;
  box-sizing: border-box;
  padding: 10px;
  box-shadow: 10px 10px 10px 3px rgba(150, 150, 150, 0.6);
}
